<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Add | Online Calculator</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Add</h1>
	<form action="/calculate_add" method="POST">
	<input type="number" placeholder="1st number" name="first_number"> +
	<input type="number" placeholder="2nd number" name="second_number">
	<button type="submit">Calculate</button>
	</form>

</body>
</html>